/* Add general styles */

/* Apply background color to the body */
body {
    font-family: 'Autour One', sans-serif;
    background-color: #436fc0;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Autour One';
    src: url('Autour_One/AutourOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#bar_chart1 {
    width: 65%;
    height: 60%;
}

#bar_chart2 {
    width: 81%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #445D48;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 100px 50px 50px gray;
    height: fit-content; /* Set the height to fit the content */
}

#world_map,
#housing_chart {
    align-self: center;
    padding-left: 37px;
}

h1 {
    text-align: center;
    color: #D6CC99;
}

h2 {
    text-align: center;
    color: #001524;
}

/* Style the idioms */
.idiom {
    background-color: #FDE5D4;
    padding: 25px;
    border-radius: 15px;
    margin: 1%;
}

#drop_down {
    margin-top: -14px;
}

/* Style the sections */
.section {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    align-items: stretch;
}

/* Add some spacing between elements */
p {
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "map map"
        "bar_chart1 explanation_1"
        "option option"
        "bar_chart2 explanation_2"
        "conclusion conclusion"
        "line_chart line_chart";
    grid-auto-flow: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.map {
    grid-area: map;
}

.explanation_1 {
    grid-area: explanation_1;
}

.conclusion {
    grid-area: conclusion;
}

.option {
    grid-area: option;
}

.explanation_2 {
    grid-area: explanation_2;
}

.bar_chart2 {
    grid-area: bar_chart2;
}

.bar_chart1 {
    grid-area: bar_chart1;
}

.line_chart {
    grid-area: line_chart;
}
